<!DOCTYPE HTML>
{% load staticfiles %}

<html>
<head>
  <title>HEMS</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <link rel="stylesheet" href="{% static "css/main.css" %}"/>
  <link rel="stylesheet" href="{% static "css/customs.css" %}"/>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <form method="post" action="/select_device/">{% csrf_token %}
    <label for="hems_devices">HEMS Device:</label>
    <select name="hems_devices">
      <option value="OutBack_Minute">OutBack_Minute</option>
    </select>
    <label for="hems_method">HEMS Method:</label>
    <select name="hems_method">
      <option value="read">Read</option>
      <option value="write">Write</option>
    </select>
    <label for="hems_value">HEMS Value:</label>
    <input type="number" name="hems_value" style="color: black;"></input>
    <button type="submit" class="button">Submit</button>
  </form>
</body>
</html>
