.login-container {
  width: 380px;
  margin: auto;
}

.custom-footer{
  height: 120px;
  width: auto;
  background-color: white;
  padding: 10px 0;
}

#asu-fulton {
  height: 100px;
  margin: auto;
}

#srp {
  height: 100px;
  margin: auto;
  float: right;
}
